<% controllerName = 'ProfilesCtrl' %>
<% title = I18n.t('active_record.models.profile.title.models') %>

<div class="container">
  <h1><%= title %></h1>
  <div ng-controller=<%= controllerName %>>
    <%= render 'search' %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'list' %>
      </div>
    </div>
    <%= render 'table_row' %>
    <%= render 'table_row_edit' %>
  </div>
</div>
