<h1><%= I18n.t('active_record.models.profile.title.model') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('active_record.models.profile.attributes.name') %>:</strong>
  <%= @profile.name %><br/>
  <strong><%= I18n.t('active_record.models.user.attributes.email') %>:</strong>
  <%= @profile.user.email %>
<hr/>

<h3><%= I18n.t('actions.following') %></h3>
<% Follower.where(follower: @profile).each do |profile| %>
    <%= label_tag '', profile.profile.name, class: 'label label-success' %>
<% end %>
<hr/>

<h3><%= I18n.t('active_record.models.follower.title.models') %></h3>
  <% @profile.followers.each do |follower| %>
    <%= label_tag '', follower.follower.name, class: 'label label-info' %>
  <% end %>
<hr/>

<h3><%= I18n.t('active_record.models.post.title.models') %></h3>
<% @profile.posts.each do |post| %>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= post.title %></span>
            <p><%= post.description %></p>
            <span class="right"><%= I18n.l(post.created_at, format: :short) %></span>
          </div>
        </div>
      </div>
    </div>
<% end %>
</p>
<hr/>
<%= link_to I18n.t('active_record.models.profile.actions.back'), '#!', onclick: "menu('#{profiles_path}')",
  class: 'waves-effect waves-light btn' %>
