<div class="col-md-3"></div>
<div class="col-md-6">
  <h2>Cadastrar</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.fields_for(:profile) do |p|  %>
            <%= p.label I18n.t('active_record.models.user.attributes.name') %><br />
            <%= p.text_field :name, autofocus: true %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label I18n.t('active_record.models.user.attributes.email') %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label I18n.t('active_record.models.user.attributes.password') %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label I18n.t('active_record.models.user.attributes.password_confirmation') %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Cadastrar-se", class: 'waves-effect waves-light btn' %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</div>
<div class="col-md-3"></div>
