<div class="col-md-8">
  <form class="form-inline" ng-submit="addObject()">
    <div class="form-group">
      <%= I18n.t('active_record.models.post.attributes.title') %>
      <%= text_field_tag '', '', 'ng-model': 'object.title', class: 'form-control', required: true %>
      <%= I18n.t('active_record.models.post.attributes.description') %>
      <%= text_field_tag '', '', 'ng-model': 'object.description', class: 'form-control',
        required: true %>
    </div>
    <br/>
    <%= button_tag I18n.t('active_record.models.post.actions.post'), class: 'btn btn-primary'%>
  </form>
</div>
