<ul id="slide-out" class="side-nav">
  <li>
    <% if current_user %>
        <div class="user-view">
          <a href="#!" onclick="menu('<%= profile_path(current_user.profile.id) %>')">
            <img class="circle" src="http://www.politize.com.br/wp-content/uploads/2016/08/imagem-sem-foto-de-perfil-do-facebook-1348864936180_956x5001.jpg">
          </a>
          <% if current_user.profile %>
              <a href="#!" onclick="menu('<%= profile_path(current_user.profile.id) %>')">
                <span class="black-text email"><%= current_user.profile.name %></span>
              </a>
          <% end %>
          <a href="#!email"><span class="black-text email"><%= current_user.email %></span></a>
        </div>
    <% end %>
  </li>
  <li>
    <%= link_to I18n.t('menu.posts'), '#!',
      'onclick': "menu('#{posts_path}')", class: 'waves-effect' %>
    <%= link_to I18n.t('menu.profiles'), '#!',
      'onclick': "menu('#{profiles_path}')", class: 'waves-effect' %>
</ul>
